<link rel="stylesheet" href="/listings/comments.css" />
<div class="col-7 offset-2 mb-3">
	<h3>Reviews</h3>
	<div class="row">
		<% for(review of listing.reviews){ %>
		<div class="card review-card col-5 ms-2 mb-2">
			<div class="card-body">
				<h6 class="card-title">@<%= review.author.username%></h6>
				<p class="card-text"><%= review.comment %></p>
				<div class="review-stars-trash">
					<span class="card-text">
						<i class="fa-regular fa-star"></i><%= review.rating %>
					</span>
					<form
						action="/listings/<%= listing._id %>/review/<%= review._id %>?_method=DELETE"
						method="post"
					>
						<button type="submit" class="btn btn-danger">
							<span class="review-trash-symbol"
								><i class="fa-solid fa-trash"></i
							></span>
						</button>
					</form>
				</div>
			</div>
		</div>
		<% } %>
	</div>
</div>
