<% layout("/layouts/boilerplate.ejs") -%>
<link rel="stylesheet" href="/listings/cards.css" />
<body>
	<div class="row row-col-lg-4">
		<% for(let listing of featchedInfo) {%>
		<div class="card" style="width: 23rem">
			<a href="/listings/<%= listing._id%>" id="normalTitleLink">
				<img
					src="<%=listing.image.url%>"
					class="card-img-top"
					alt="<%=listing.title%>"
				/>
				<div class="card-body">
					<p class="card-text">
						<b> <%=listing.title%></b> <br />
						&#8377; <%= listing.price.toLocaleString("en-in")%> /night
					</p>
				</div>
			</a>
		</div>
		<% } %>
	</div>
</body>
