<% layout("/layouts/boilerplate.ejs") -%>
<link rel="stylesheet" href="/listings/showCard.css" />
<body>
	<div class="row row-coustom">
		<div class="col-8 offset-3">
			<h4 class="col-7">
				<b class="show-non-italic"><%= listing.title%></b> <br />
			</h4>
			<div class="card col-8 show-card">
				<img
					src="<%= listing.image%>"
					class="card-img-top"
					alt="<%= listing.title%>"
				/>
				<div class="card-body">
					<p class="card-text">
						<%= listing.description%> <br />
						&#8377; <%= listing.price.toLocaleString("en-in")%> /night<br />
						<%= listing.location%> <br />
						<%= listing.country%> <br />
					</p>
				</div>
			</div>
			<div class="col col-btns">
				<a href="/listings/<%=listing._id  %>/edit" class="btn btn-dark"
					>Edit</a
				>
				<form
					action="/listings/<%=listing._id  %>?_method=DELETE"
					method="post"
					class="card-deleteBtn"
				>
					<button class="btn btn-danger">DELETE</button>
				</form>
			</div>
		</div>
		<%- include("../listings/reviewTab.ejs") %> <%-
		include("../listings/comments.ejs") %>
	</div>
</body>
