<% layout("/layouts/boilerplate.ejs") -%>
<body>
	<h2>Hotel Info</h2>
	<ul>
		<li><%= listing.title%></li>
		<li><%= listing.description%></li>
		<!-- used the rupee symbol and converted the price to indian standard -->
		<li>&#8377; <%= listing.price.toLocaleString("en-in")%></li>
		<li><%= listing.location%></li>
		<li><%= listing.country%></li>
	</ul>
	<h3>
		<form
			action="/listings/<%=listing._id  %>?_method=DELETE"
			method="post"
			class="redColorLink inlineHeadings"
		>
			<button>DELETE</button>
		</form>
		<a
			href="/listings/<%=listing._id  %>/edit"
			class="inlineHeadings"
			id="normalTitleLink"
			>Edit</a
		>
		<a href="/listings" id="normalTitleLink" class="inlineHeadings">Go Back</a>
	</h3>
</body>
