<% layout("/layouts/boilerplate.ejs") -%>
<link rel="stylesheet" href="/listings/showCard.css" />
<body>
	<div class="row row-coustom">
		<div class="col-8 offset-3">
			<h4><b class="show-non-italic"><%= listing.title%></b> <br /></h4>
			<div class="card col-8">
				<img
					src="<%= listing.image%>"
					class="card-img-top"
					alt="<%= listing.title%>"
				/>
				<div class="card-body">
					<p class="card-text">
						<%= listing.description%> <br />
						&#8377; <%= listing.price.toLocaleString("en-in")%> /night<br />
						<%= listing.location%> <br />
						<%= listing.country%> <br />
					</p>
				</div>
			</div>
			<div class="col col-btns">
				<a href="/listings/<%=listing._id  %>/edit" class="btn btn-dark"
					>Edit</a
				>
				<form
					action="/listings/<%=listing._id  %>?_method=DELETE"
					method="post"
					class="card-deleteBtn"
				>
					<button class="btn btn-danger">DELETE</button>
				</form>
			</div>
		</div>

		<div class="col-8 offset-3 mb-3">
			<hr />
			<h3>Reviews</h3>
			<form
				action="/listings/<%=listing._id  %>/review"
				method="post"
				novalidate
				class="needs-validation"
			>
				<div class="mb-3">
					<label for="rating" class="form-label">Rating</label><br />
					<input
						type="range"
						min="1"
						max="5"
						id="rating"
						step="0.5"
						name="Review[rating]"
						class="form-range"
					/>
				</div>
				<div class="mb-3">
					<label for="comment" class="form-label">Comment</label><br />
					<textarea
						name="Review[comment]"
						id="comment"
						rows="3"
						cols="30"
						class="form-control"
						required
					></textarea>
					<div class="invalid-feedback">Please enter valid comment</div>
				</div>
				<button type="submit" class="btn btn-outline-dark mb-3">submit</button>
			</form>
		</div>
	</div>
</body>
