<% layout("/layouts/boilerplate.ejs") -%>
<link rel="stylesheet" href="/listings/showCard.css" />
<body>
	<div class="row row-coustom">
		<div class="col-8 offset-3">
			<h4><b class="show-non-italic"><%= listing.title%></b> <br /></h4>
			<div class="card col-8 show-card">
				<img
					src="<%= listing.image%>"
					class="card-img-top"
					alt="<%= listing.title%>"
				/>
				<div class="card-body">
					<p class="card-text">
						<%= listing.description%> <br />
						&#8377; <%= listing.price.toLocaleString("en-in")%> /night<br />
						<%= listing.location%> <br />
						<%= listing.country%> <br />
					</p>
				</div>
			</div>
			<div class="col col-btns">
				<a href="/listings/<%=listing._id  %>/edit" class="btn btn-dark"
					>Edit</a
				>
				<form
					action="/listings/<%=listing._id  %>?_method=DELETE"
					method="post"
					class="card-deleteBtn"
				>
					<button class="btn btn-danger">DELETE</button>
				</form>
			</div>
		</div>

		<div class="col-6 offset-1 mb-3">
			<hr />
			<form
				action="/listings/<%=listing._id  %>/review"
				method="post"
				novalidate
				class="needs-validation"
			>
				<div class="mb-3 rating-bar">
					<label for="rating" class="form-label rating-form-label"
						>Rating
					</label>
					<b> <span id="currentRating">3</span></b>
					<input
						type="range"
						min="1"
						max="5"
						id="rating"
						step="0.5"
						name="Review[rating]"
						class="form-range"
					/>
				</div>
				<div class="mb-3">
					<label for="comment" class="form-label">Comment</label><br />
					<textarea
						name="Review[comment]"
						id="comment"
						rows="3"
						cols="30"
						class="form-control"
						required
					></textarea>
					<div class="invalid-feedback">Please enter valid comment</div>
				</div>
				<button type="submit" class="btn btn-dark">submit</button>
			</form>
			<script>
				// Get the range input element and the display span
				const ratingSlider = document.getElementById("rating");
				const currentRatingDisplay = document.getElementById("currentRating");

				// Update the display when the slider is moved
				ratingSlider.addEventListener("input", function () {
					currentRatingDisplay.textContent = ratingSlider.value;
				});
			</script>
			<hr />
		</div>
		<div class="col-7 offset-2 mb-3">
			<h3>Reviews</h3>
			<div class="row">
				<% for(review of listing.reviews){ %>
				<div class="card review-card col-5 ms-2 mb-2">
					<div class="card-body">
						<h6 class="card-title"><%= listing.title%></h6>
						<p class="card-text"><%= review.comment %></p>
						<div class="review-stars-trash">
							<span class="card-text">
								<i class="fa-regular fa-star"></i><%= review.rating %>
							</span>
							<form
								action="/listings/<%= listing._id %>/review/<%= review._id %>?_method=DELETE"
								method="post"
							>
								<button type="submit" class="btn btn-danger">
									<span class="review-trash-symbol"
										><i class="fa-solid fa-trash"></i
									></span>
								</button>
							</form>
						</div>
					</div>
				</div>
				<% } %>
			</div>
		</div>
	</div>
</body>
